*{
  
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Lexend', sans-serif;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.container .tools{
    width: 4%;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    margin-right: -100px;   
}


.container .tools button{
    margin: 5px;
    padding: 8px 10px;
    font-size: 22px;
    color: rgb(88, 87, 87);
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(52,186,150);
    cursor: pointer;
    transition: 0.3s;
}

.container .tools button:hover{
    background-color: rgb(52,186,150);
    color: white;
}
.counters{
    border: 3px solid rgb(52,186,150);
    border-radius: 5px; 

}

.wrapper{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    
}

.container .counters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    align-items: center;
    margin-top: 50px;
    padding-right: 90px;
    
}
.counters h2 p{
    background-color:  rgb(52,186,150);
    padding: 8px 18px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    color: white;
}
.counters h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    font-size: 20px;

}



textarea{
    width: 90%;
    height: 400px;
    padding: 20px 20px ;
    font-size: 18px;
    margin-top: 20px;
    border: 3px solid  rgb(52,186,150);
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: scroll;
    overflow-x: hidden ;
}

.dropdown {
    display: none;
}


/* media query */
@media (max-width: 1280px){
    .counters h2{
        margin-left: 75px;
        font-size: 14px;
    }
    
}
@media (max-width: 1246px){
    .counters h2{
        margin-left: 75px;
        font-size: 15px;
    }
    
.container .tools button{
    margin: 5px;
    padding: 8px 10px;
    font-size: 20px;
  }
}

@media (max-width: 1175px){
    .container .counters{
       padding-left: 15px;
    }
    .counters h2{
        margin-left: 60px;
        font-size: 15px;
    }
    .counters h2 p{
      
        padding: 6px 16px;
       
    }
    .container .tools button{
        margin: 5px;
        padding: 8px 8px;
        font-size: 22px;  
    }
}

@media (max-width: 1025px){
    .container .counters{
        padding-left: 15px;
        width: 80%;
     }
     .counters h2{
         margin-left: 60px;
         font-size: 13px;
     }
     .counters h2 p{
         padding: 6px 16px;
     }
     .container .tools button{
         margin: 5px;
         width: 40px;
         padding: 8px 7px;
         font-size: 18px;
     }

     textarea{
        height: 500px;
     }

}

@media (max-width: 950px){
    .container .counters{
        padding-left: 15px;
     }
     .counters h2{
         margin-left: 60px;
         font-size: 12px;
     }
     .counters h2 p{
         padding: 6px 8px;
     }

     .container .tools button{
         margin: 5px;
         width: 40px;
         padding: 8px 7px;
         font-size: 18px;
     }


}
@media (max-width: 920px){
    .container textarea{
        height: 500px;
        width: 112%;
        margin-left: 180px;
    }
    .container .counters {
        padding-left: 20px;
        padding-right: 100px;
        width: 100%;
        margin-left: 180px;
      
    }
    .container .counters h2{
        font-size: 17px;
    }
}
@media (max-width: 822px){
    .container .counters {
        padding-left: 20px;
        padding-right: 100px;
        width: 105%;
        margin-left: 100px;
    }

    .container .tools{
        display: none;
    }
    .counters h2{
        margin-left: 80px;
        font-size: 16px;
    }

    .container textarea{
        width: 120%;
        margin-left: 100px;
        height: 500px;
    }
}

@media (max-width: 768px){
    .container .counters {
        width: 95%;
        padding-left: 60px;
        margin-right: 90px;
    }
    .container textarea{
        width: 120%;
        margin-left: 10px;
        height: 500px;
    }
    .counters h2{
        margin-left: 30px;
    }

}
@media (max-width: 550px){
    .container .counters {
        width: 86%;
        padding-left: 65px;
        margin-right: 90px;
    }
   
    .container .counters h2{
        font-size: 14px;
    }

}

@media (max-width: 480px){
    .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .counters h2{
        font-size: 16px;
    }
    .container .counters{
        width: 120%;
        margin-right: 47px;
    }
    .counters #lines , #sent{
        display: none;
    }
    .container textarea{
        width: 320px;
        margin-left: 7px;
        font-size: 15px;
    }

    .container .tools{
        padding-top: 112px;
        margin-right: -60px;  
        
    }
    .container .tools button{
       
        margin: 5px;
        width: 40px;
        padding: 8px 7px;
        font-size: 15px;
    }
}


@media (max-width: 435px){
    .container .wrapper{
        justify-content: center;
    }
    .container textarea{
        margin-right: 40px;
        width: 113% ;
    }
    .container .counters{
        margin-right: 130px;
        width: 70%;
    }
    .container .tools{
        display: none;
    }
}

@media (max-width: 418px){
    
    .container .counters{
        margin-right: 150px;
        width: 68%;
    }
    .container textarea{
        margin-right: 60px;
        width: 113% ;
    }
}

@media (max-width: 395px){
    .container .counters h2{
        font-size: 13px;
        margin-left: 50px;
    }
    .container .counters{
       
        padding-left: 30px;
        width: 80%;
    }

    .container textarea{
        font-size: 15px;
        margin-right: 60px;
    }

    
}
@media (max-width: 380px){
    .container .counters{
        margin-right: 130px;
        padding-left: 30px;
        width: 77%;
    }
    .container textarea{
        margin-right: 40px; 
    }
}

@media (max-width: 355px){
    textarea{
        font-size: 10px;
    }

 
}
@media (max-width: 330px){
    .container .counters{
        margin-right: 140px;
        padding-left: 30px;
        width: 85%;
    }
    .container textarea{
        width: 125%;
        margin-right: 50px;
    }
}



@media (max-width: 290px){
    .container .counters h2{
        font-size: 14px;
        margin-left: 50px;
    }
    .container .counters{
        padding-left: 50px;
        margin-right:110px;
        width: 77%;
      
    }
    .container textarea{
        margin-right: 20px;
        width: 150% ;
        font-size: 12px;
        padding: 8px;
    }

}

















  

  


