footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;
    background-color:rgb(242,242,242) ;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;

}

footer .details{
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    width: 70%;
    

}
footer h1{
    margin-top: 20px;
    color: rgb(52,186,150);
}

footer .details .ul-list {
    list-style-type: none;
    font-size: 18px;
}
footer .details .ul-list li{
    margin: 5px;
}
.ul-list #fol{
    font-size: 22px;
    color: rgb(52,186,150);
}
footer .codex{
    margin-left: auto;
}

@media(max-width:1025px){
   footer{
    height: 35vh;
    margin-top: -400px;
   }
    footer .codex{
        font-size: 10px;
    }
    footer h1{
        font-size: 28px;
    }
}

@media(max-width:915px){
    footer{
       
        width: 100%;
    }
}
@media (max-width:780px){
    footer{
        height: 30vh;
        padding-left: 50px;
        padding-right: 50px;
    }

    footer .details{
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
        width:60%;
       
    }
}
@media (max-width:770px){
    footer{
        margin-top: -180px;
        height: 40vh;
    }
}
@media(max-width:435px){
    footer h1{
        font-size: 20px;
    }
    footer{
        border: 3px rgb(242,242,242);
        padding-left: 20px;
        padding-right: 20px;
        height: 30vh;
        width: 105%;
    }
    footer .codex{
        font-size: 7px;
    }

}
@media(max-width:415px){
    footer{
        height: 30vh;
       
    }
}









@media(max-width: 395px){
    footer{
        height: 35vh;
        margin-top: -120px;
    }
}
@media(max-width: 376px){
    footer{
      margin-top:120px ;
    }
  }
@media(max-width: 330px){
   footer{
    width: 102%;
   }
}